---

---

<section id="history" class="bg-[#1C3F60]">
  <div class="container py-5">
    <h3 class="text-center text-white md:text-xl text-xs">
      &copy; Administradora Empresarial de Colombia S.A.S
    </h3>
  </div>
</section>
