---

---

<section id="home" class="py-24">
  <div
    class="container flex flex-wrap items-center justify-between md:flex-row px-6 lg:mt-0 md:justify-center">
    <div class="mb-14 lg:mb-0 lg:w-1/2">
      <h6
        class="font-semibold mb-1 md:text-xl text-xs text-yellow-400 text-center lg:text-start">
        ¿No sabes cuanta utilidad genera tu negocio?
      </h6>
      <h1
        class="max-w-xl xl:text-[4.5rem] md:text-[3.5rem] text-[2.8rem] leading-none text-gray-900 font-[900] text-center
        lg:text-left mb-6">
        ¡Nosotros Si!
      </h1>
      <p
        class="max-w-xl lg:text-base text-center text-black lg:text-left lg:max-w-xl">
        Desde nuestra consultoria hemos desarrollado procesos que te permitiran
        administrar tu negocio con mayor facilidad, control y proyección.
      </p>
      <div class="flex justify-center mt-8 lg:justify-start hover:animate-tilt">
        <button
          type="button"
          class="text-gray-900 bg-yellow-400 font-bold rounded-3xl px-5 py-2 text-center
          hover:drop-shadow-md transition duration-300 ease-in-out">
          Leer más
        </button>
      </div>
    </div>
    <div class="lg:w-1/2">
      <img src="./hero_home.png" alt="hero-img" class="md:ml-auto lg:w-3/4" />
    </div>
  </div>
</section>
