---

---

<section id="pillars" class="py-20 lg:scroll-mt-20 scroll-mt-10 bg-gray-50">
  <div class="container">
    <h1 class="text-center text-4xl font-bold text-[#1C3F60] mb-10">
      Nuestros Pilares
    </h1>
    <div
      class="grid lg:grid-cols-3 lg:gap-6 md:grid-cols-2 md:gap-6 grid-cols-1 gap-3 lg:mx-10 md:mx-8 mx-5">
      <div
        class="border rounded-3xl p-10 flex flex-col justify-center items-center bg-[#018FA6]">
        <i class="fa-solid fa-mobile-screen text-6xl text-yellow-400 mb-10"></i>
        <h3 class="text-3xl text-center mb-5 text-white font-bold">
          Contabilidad Financiera
        </h3>
        <p class="text-center text-white max-w-50">
          Análisis financiero detallado para decisiones acertadas.
        </p>
      </div>

      <div
        class="border rounded-3xl p-10 flex flex-col justify-center items-center bg-[#004AAD]">
        <i class="fa-regular fa-handshake text-6xl text-yellow-400 mb-10"></i>
        <h3 class="text-3xl text-center mb-5 text-white font-bold">
          Planeación Tributaria
        </h3>
        <p class="text-center text-white max-w-50">
          Estrategias fiscales personalizadas para optimizar recursos.
        </p>
      </div>

      <div
        class="border rounded-3xl p-10 flex flex-col justify-center items-center bg-[#2B3990]">
        <i class="fa-solid fa-chart-line text-6xl text-yellow-400 mb-10"></i>
        <h3 class="text-3xl text-center mb-5 text-white font-bold">
          Estrategia Empresarial
        </h3>
        <p class="text-center text-white max-w-50">
          Planes de acción para el crecimiento y la competitividad.
        </p>
      </div>
    </div>
  </div>
</section>
