---
import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Alernal | Tu Socio Estrategico</title>
  </head>
  <body>
    <slot />

    <!-- ICONS AWESOME -->
    <script
      src="https://kit.fontawesome.com/e8ac9bc466.js"
      crossorigin="anonymous"></script>
  </body>
</html>
<style is:global>
  html {
    font-family: "Montserrat Variable", sans-serif;
  }
</style>
